* {
  margin: 0;
 }


body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f70b7;
  width: 100%;
  position: fixed;
  top: 0;

}

.header-title {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin: 0px 20px;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  max-width: 100%;
}

.subtitle {
  color: rgb(176, 23, 23);
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 80px 80px 40px 80px;
  background-color: #fff;
  padding: 45px;
  border-radius: 8px;
}

.content-form--input {
  margin: 20px;
  font-size: 16px;
}

.content-form--input-file {
  margin: 20px 20px 10px !important;
  font-size: 16px;
}

.warning {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
}

.content-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.content-form--button {
  border-radius: 18px;
  background-color: #0f70b7;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all .1s ease-in-out;
  padding: 10px;
  width: 200px;

  &:hover {
    background-color: #1c89ff;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
}

.content-uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px;
}

.content-form-uploader {
  margin-top: 50px;
}

.content-form-index {
  display: flex;
  flex-direction: column;
}

.content-form-cards {
  display: flex;
}

.content-uploader-image {
  display: flex;
}

.content-uploader-image-text {
  margin: 20px;
}

.image {
  max-width: 280px;
  margin: 0 20px;
}

span, h1 {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f70b7;
  padding: 20px;
}

.footer-button {
  color: #fff;
  background: #0f70b7;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  border-radius: 18px;

  &:hover {
    background-color: #1c89ff;
    border-color: #fff;
    transition: all .1s ease-in-out;
  }
}

.content-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 150px 50px;
}

.content-about-title {
margin-bottom: 20px;
}

.content-about-model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-about-model-p {
  text-indent: 1.5em;
  line-height: 160%;
  font-size: 18px;
  width: 100%;
}

.content-about-model-image {
  margin: 50px 0;
}

.content-about-model-subtitle {
  padding: 10px 0;
  width: 100%;
}
