<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1 class="header-title">Processamento e Análise de Imagens</h1>
      <img src="../static/logo/logo_puc.png" alt="Puc Minas" width="80" height="80">
    </header>

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
      <a href="{{url_for('index')}}"><input class="footer-button" type="button" value="Remover fundo da imagem"></a>
      <a href="{{url_for('about')}}"><input class="footer-button" type="button" value="Sobre o trabalho"></a>
    </footer>

  </body>
</html>